.wave {
  position: fixed;
  height: 100%;
  width: 80%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.login-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18rem;
  padding: 0 2rem; */
  display: flex;
  justify-content: center;
  background-image: url("../assets/login/bg-new.png");
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img {
  width: 500px;
}

.login-box {
  /* display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
}

.login-form {
  width: 360px;
}

.avatar {
  width: 350px;
  height: 80px;
}

.login-form h2 {
  text-transform: uppercase;
  margin: 15px 0;
  font-size: 20px;
  /* color: #999;
  font:
    bold 200% Consolas,
    Monaco,
    monospace; */
}

@media screen and (min-width: 1080px) {
  .login-box {
    background-image: url("../assets/login/login.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1000px;
    height: 500px;
  }
  .login-form {
    width: 270px;
    height: 100%;
    position: absolute;
    left: 600px;
    top: 40px;
  }
}

@media screen and (max-width: 1080px) {
  .login-container {
    grid-gap: 9rem;
  }
  .login-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .login-form {
    position: relative;
    width: 290px;
  }

  .login-form h2 {
    /* font-size: 2.4rem; */
    font-size: 1.8rem;
    margin: 8px 0;
  }

  .img img {
    width: 360px;
  }

  .avatar {
    width: 280px;
    height: 80px;
  }
}

@media screen and (max-width: 968px) {
  .wave {
    display: none;
  }

  .img {
    display: none;
  }

  .login-container {
    grid-template-columns: 1fr;
  }

  .login-box {
    justify-content: center;
  }
}
